*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;


    --fw-thin: 200;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-background: rgb(0, 14, 36);
    --clr-light: rgb(230, 230, 230);
    --clr-dark: #303030;
    --clr-accent: #00c3ff;
    --clr-background-transparent: rgba(0, 14, 36, 0.63);
    /* #fff; light*/
    /* #303030; dark */

    --fs-h1: 3rem;
    --fs-h2: 1.0rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;


    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


::-webkit-scrollbar-track {
    border: 7px solid var(--clr-background);
    box-shadow: inset 0 0 2.5px 1px var(--clr-background)
}

::-webkit-scrollbar-thumb {

    background-color: var(--clr-accent);
    border-radius: 10px;
    border: 1px solid var(--clr-accent);
    /* background:linear-gradient(
        120deg,
        var(--clr-accent),
        #e0feff

    );
       */
}

/* *******************logo*********************** */

.logo {
    text-decoration: none;
    color: #fff;
}


.logo h1 {
    font-size: 3rem;
    font-family: var(--ff-secondary);
}




/* ************intro section PREFERENCES************* */

:focus {
    /* outline: 3px solid var(red); */
    outline-offset: 4px;
}


.btn {
    display: inline-block;
    padding: 1em 2em;
    background: var(--clr-dark);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    max-width: 200px;
    margin: 5em 5em;
    border: 8px var(--clr-accent);
    border-radius: 20px;


}

.btn:hover {
    transform: scale(1.1);
    background: var(--clr-accent);
}



header {
    display: flex;
    justify-content: space-between;
    padding: 1em;

}

.logo:hover {
    cursor: pointer;
    color: var(--clr-accent);
}




.nav__list li {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
    text-transform: uppercase;
}


.nav-toggle {
    visibility: hidden;
}


.nav__link:hover {
    color: var(--clr-accent)
}


@media (max-width:1000px) {

    .nav-toggle {
        visibility: visible;
    }

    .nav {
        position: fixed;
        background: var(--clr-dark);
        color: var(--clr-light);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 500;

        transform: translateX(100%);
        /*change after*/
        transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    }

    .nav__list {
        list-style: none;
        display: flex;
        height: 100%;
        width: 50%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0;
    }


    .nav__link {
        color: white;
        font-weight: var(--fw-bold);
        font-size: var(--fs-h3);
        text-decoration: none;
    }

    .nav__link:hover {
        color: var(--clr-accent)
    }

    .nav-toggle {
        padding: .25em;
        background: transparent;
        border: 0;
        cursor: pointer;
        position: absolute;
        right: 1em;
        top: 1em;
        z-index: 1000;
        color: var(--clr-accent);
    }

    .nav-open .nav {
        transform: translateX(50%);
    }

    .nav-open .nav-toggle {
        position: fixed;
    }

    .nav-open .hamburger {
        transform: rotate(.625turn)
    }

    .nav-open .hamburger::before {
        transform: rotate(90deg) translateX(-6px)
    }

    .nav-open .hamburger::after {
        opacity: 0;
    }


    .hamburger {

        display: block;
        position: relative;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background: var(--clr-accent);
        width: 2em;
        height: 3px;
        border-radius: 1em;
        transition: transform 250ms ease-in-out;


    }


    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        background: var(--clr-accent);
    }




    .hamburger::before {
        top: 6px;
    }

    .hamburger::after {
        bottom: 6px
    }

}

html {
    scroll-behavior: smooth;
}


body {

    background: var(--clr-background);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}


section {
    padding: 1em 2em;
}

.section_links {
    padding: 0em 0em
}

img {

    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold)
}


h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

.section__title {
    margin-bottom: 0em;
    font-size: var(--fs-h1);
}

.p__section__title {
    margin-bottom: 1em;
    font-size: var(--fs-h1);
    margin-top: 1em;
}


.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}



.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}


.section__subtitle--intro {
    background: var(--clr-accent);
    padding: 0.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    display: inline-block;
}

.section__title--intro {
    font-family: var(--ff-secondary);
}



/* ****************intro section STYLE SETUP *******************/

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 1000px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        max-width: 400px;
        position: relative;
        z-index: 2;

    }


    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }



}

/* *****************About me section STYLE SETUP************** */

.about-me {
    max-width: 999px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
    max-width: 230px;
}

@media (min-width: 1000px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 1em;
    }

    .section__title--aboutme {
        grid-area: title;
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }

}


.collapse__button {
    padding: 1em 1em;
    background: var(--clr-dark);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin: 1em 1em;
    border: 8px var(--clr-accent);
    border-radius: 20px;


}

.collapse__button:hover {
    transform: scale(1.1);
    background: var(--clr-accent);
}


.collapse__button::after {
    content: "\25be";
    float: right;
    transform: scale(1);
}


.collapse__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    padding: 0 15px;
    color: var(--clr-light);
    font-family: var(--fs-body);
    background: var(--clr-dark);
    border-radius: 20px;

}


.collapse__button--active::after {
    content: "\25b4";
}


.skillset {
    display: grid;
    column-gap: 1em;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 1.5em;

}

.skillset__section {
    max-width: 1000px;
    margin: 0 auto;
}

.skillset__title {
    text-align: left;
}





.my-work {
    /* background-color: #111; */
    background-color: #111;
    border-color: var(--clr-background);
    border-style: solid;
    border-width: 2em;
    color: var(--clr-light);
    text-align: center;
}

.workimg {
    width: 400px;
    height: 200px;
    object-fit: cover;
}



.work {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

@media (min-width: 600px) {
    .work {
        grid-template-columns: repeat(2, 1fr);
    }

    .workimg {
        width: 400px;
        height: 200px;
        object-fit: cover;
    }



}

@media (min-width: 900px) {
    .work {
        grid-template-columns: repeat(3, 1fr);
    }

    .workimg {
        width: 300px;
        height: 150px;
        object-fit: cover;
    }
}

@media (min-width: 1000px) {
    .work {
        grid-template-columns: repeat(4, 1fr);
    }

    .workimg {
        width: 400px;
        height: 200px;
        object-fit: cover;
    }
}

.to-top {
    text-align: center;
}

.section_links a {
    color: inherit
}

.section_links {
    color: var(--clr-accent);
    text-align: center;
    padding: 1em 0;
    font-size: var(--fs-h3);

}


.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 1em 0;
    font-size: var(--fs-h3);

}


.footer a {
    color: inherit
}



.social-list__link:hover {
    opacity: .7;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}


.social-list__item {
    margin: 0 0.5em;
}

.sum_desc {
    max-width: 900px;
    margin: 0 auto;
}


.scroll-box {

    display: flex;
    margin-top: 4em;
    margin-bottom: 2em;
    background: #111;
    height: 450px;
    padding: 1px;
    overflow-y: scroll;
    overflow-x: auto;
    text-align: left;
    font-size: 0.85rem;
    max-height: 450px;

}

.proj_section {
    background-color: #111;
    color: var(--clr-light);
    text-align: center;
    border-color: var(--clr-background);
    border-style: solid;
    border-width: 2em;

}

.p__section__subtitle {
    max-width: 1600px;
    margin: 0 auto;
    color: var(--clr-light);
    text-align: left;
    margin-top: 2em;
    background: var(--clr-dark);
    padding: 1em 1em;
    text-align: center;
}

.sec_desc {
    max-width: 1600px;
    margin: 0 auto;
    text-align: left;
}

.pacemaker_section {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.py_img {
    width: 600px;
    height: 350px;
    object-fit: cover;
    margin-top: 3em;
}

@media (min-width: 800px) {
    .sec_desc {
        margin-top: 5em;
    }

    .pacemaker_section {
        grid-template-columns: repeat(2, 1fr);
    }

    .py_img {
        width: 600px;
        height: 350px;
        object-fit: cover;
        margin: 0 auto;
        margin-top: 5em;
    }

}

.spatial_section {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.img_spat3 {
    width: 400px;
    object-fit: cover;
    margin-top: 3em;
    margin: 0 auto;
}

.img_block {
    width: 100%;
    margin-top: 3em;
    margin: 0 auto;
}



@media (min-width: 800px) {
    .sec_desc {
        margin-top: 5em;
    }

    .spatial_section {
        grid-template-columns: repeat(2, 1fr);
    }

    .img_block .img_spat3 {
        width: auto;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
        margin-top: 5em;
    }


}


.cad_draw {
    display: inline-grid;
    column-gap: 1em;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-bottom: 1.5em;
    justify-items: center;
    align-items: center;

}

.proto_img {
    width: 400px;
    text-align: center;

}

.proto_img:hover,
.cad_draw:focus .proto_img {
    transform: scale(1.4);

}

.proto_img {
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}


.container-bar {
    width: 100%;
    height: 5px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    background-color: white;

}

#indicator {
    height: 20px;
    width: 0%;
    background: var(--clr-accent);

}